:root {
	// Opehuone container related
	--opehuone--container--width: 1410px;
	--opehuone--container--padding: 1rem;

	// Opehuone spacings
	--opehuone--spacing--2-x-small: 0.875rem; // 14px in desktop
	--opehuone--spacing--x-small: 1rem; // 16px in desktop
	--opehuone--spacing--small: clamp(1.5rem, 2vw, 1.875rem); // 30px in desktop
	--opehuone--spacing--normal: clamp(1.8rem, 3vw, 2.5rem); // 40px in desktop
	--opehuone--spacing--medium: clamp(
		2.8rem,
		4vw,
		3.125rem
	); // 50px in desktop
	--opehuone--spacing--large: clamp(3rem, 5vw, 3.75rem); // 60px in desktop
  --opehuone--spacing--2-x-large: clamp(5rem, 7vw, 7.5rem); // 120px in desktop

	// Opehuone fontsizes
	--opehuone--font-size--x-small: 0.75rem;
	--opehuone--font-size--small: 0.875rem;
	--opehuone--font-size--normal: 1rem;
	--opehuone--font-size--medium: clamp(1rem, 2vw, 1.125rem);
	--opehuone--font-size--2-x-medium: clamp(1.125rem, 2vw, 1.25rem);
	--opehuone--font-size--large: clamp(
		1.125rem,
		2vw,
		1.5rem
	); // 24px in desktop
	--opehuone--font-size--x-large: clamp(1.5rem, 3vw, 2rem); // 32px in desktop
  --opehuone--font-size--2-x-large: clamp(2rem, 3.5vw, 2.5rem); // 40px in desktop
	--opehuone--font-size--3-x-large: clamp(
		2.5rem,
		4vw,
		3rem
	); // 48px in desktop
}
