//
// Emphasis
//

em {
	font-style: italic;
	font-variation-settings: "ital" 1;
}

small {
	font-size: clamp(rem(13px), 2vw, rem(14px));
	font-weight: 400;
}

mark {
	padding: rem(4px);
	background-color: #fff;
}

// Blockquotes
.blockquote {
	margin-bottom: rem(16px);
	font-size: clamp(rem(18px), 3vw, rem(20px));
}
