.page-template-landing-page,
.post-type-archive,
.home,
.blog {
	.sidebar-boxes {
		margin-top: var(--opehuone--spacing--medium);
	}

	.hero {
		margin-bottom: var(--opehuone--spacing--x-small);

      &__koros {
        height: 15px !important;
        svg {
          height: 15px;
        }
      }
	}

	.hero__container {
		padding-top: var(--spacing-s);
        padding-bottom: 0;
		min-height: 150px;
		position: relative;

		.breadcrumbs {
			margin-bottom: var(--opehuone--spacing--2-x-small);
		}

		.hero__content {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;

            .hero-text-content {
              flex: 2;
            }

            .hero-image-content {
              flex: 1;
              display: flex;
            }

			.hero__title {
				font-size: 2.5rem;
				font-weight: 500;
				color: var(--color-black-90) !important;
				width: 100%;

				&__sve {
					font-size: var(--opehuone--font-size--large);
					font-weight: 500;
					margin-top: var(--opehuone--spacing--x-small);
					width: 100%;
				}
			}

			img {
				max-width: 100%;
				max-height: 190px;
				z-index: 999;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}
		}
	}

	.opehuone-content-container {
		h2 {
			font-size: 2rem;
			margin-top: var(--spacing-xs);
			margin-bottom: var(--spacing-l);
		}
		.single-post__featured-image {
			aspect-ratio: 1000 / 335;
		}
	}

	.link-element-box {
		background-color: #f7f7f7;
		border-left: 12px solid;
		padding: 24px 46px;

		ul {
			list-style: none;
			margin: 0;
			li {
				font-size: var(--opehuone--font-size--2-x-medium);
				margin-bottom: 18px;
			}
		}
	}

	.theme {
		&__primary {
			&.hero {
				background-color: var(--primary-color-medium);

				.hds-koros {
					path {
						fill: var(--primary-color-medium);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--primary-color-light);
					border-left: 6px solid var(--primary-color);
				}
			}
		}

		&__suomenlinna {
			&.hero {
				background-color: var(--color-suomenlinna);

				.hds-koros {
					path {
						fill: var(--color-suomenlinna);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-suomenlinna-light);
					border-left: 6px solid var(--color-suomenlinna);
				}
			}

			&.link-element-box {
				border-color: var(--color-suomenlinna);
			}
		}

		&__engel {
			&.hero {
				background-color: var(--color-engel);

				.hds-koros {
					path {
						fill: var(--color-engel);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-engel-light);
					border-left: 6px solid var(--color-engel);
				}
			}

			&.link-element-box {
				border-color: var(--color-engel);
			}
		}

		&__copper {
			&.hero {
				background-color: var(--color-copper);

				.hds-koros {
					path {
						fill: var(--color-copper);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-copper-light);
					border-left: 6px solid var(--color-copper);
				}
			}

			&.link-element-box {
				border-color: var(--color-copper);
			}
		}

		&__fog {
			&.hero {
				background-color: var(--color-fog);

				.hds-koros {
					path {
						fill: var(--color-fog);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-fog-light);
					border-left: 6px solid var(--color-fog);
				}
			}

			&.link-element-box {
				border-color: var(--color-fog);
			}
		}

		&__bus {
			&.hero {
				background-color: var(--color-bus-medium-light);

				.hds-koros {
					path {
						fill: var(--color-bus-medium-light);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-bus-light);
					border-left: 6px solid var(--color-bus-medium-light);
				}
			}

			&.link-element-box {
				border-color: var(--color-bus);
			}
		}

		&__summer {
			&.hero {
				background-color: var(--color-summer);

				.hds-koros {
					path {
						fill: var(--color-summer);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-summer-light);
					border-left: 6px solid var(--color-summer);
				}
			}

			&.link-element-box {
				border-color: var(--color-summer);
			}
		}

		&__metro {
			&.hero {
				background-color: var(--color-metro);

				.hds-koros {
					path {
						fill: var(--color-metro);
					}
				}
			}

			&.quick-links-container {
				.quick-links-box {
					background-color: var(--color-metro-light);
					border-left: 6px solid var(--color-metro);
				}
			}
			&.link-element-box {
				border-color: var(--color-metro);
			}
		}

		&__coat-of-arms {
			&.link-element-box {
				border-color: var(--color-coat-of-arms);
			}
		}

		&__silver {
			&.link-element-box {
				border-color: var(--color-silver);
			}
		}

		&__gold {
			&.link-element-box {
				border-color: var(--color-gold);
			}
		}

		&__tram {
			&.link-element-box {
				border-color: var(--color-tram);
			}
		}
	}
}
