.page-template-landing-page, .post-type-archive {
    .hero__container {
        padding-top: var(--spacing-s);

        .breadcrumbs {
            margin-bottom: var(--opehuone--spacing--2-x-small);
        }

        .hero__content {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
    
            .hero__title {
                font-size: 2.5rem;
                font-weight: 500;
                color: var(--color-black-90) !important;
                width: 100%;

                &__sve {
                    font-size: var(--opehuone--font-size--large);
                    font-weight: 500;
                    margin-top: var(--opehuone--spacing--x-small);
                    width: 100%;
                }
            } 

            img {
                max-width: 100%;
                max-height: 190px;
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 999;

                @include media-breakpoint-down(sm) {
                    display: none;
                }
                
                @include media-breakpoint-down(md) {
                    max-height: 175px;
                    top: initial;
                }      
            }
        }
    }

    .opehuone-content-container {

        h2 {
            font-size: 2rem;
            margin-top: var(--spacing-xs);
            margin-bottom: var(--spacing-l);
        }
        .single-post__featured-image  {
            aspect-ratio: 1000 / 335;
        }
    }

    .theme {
        &__primary {
            &.hero {
                background-color: var(--primary-color-medium);

                .hds-koros {
                    path {
                        fill: var(--primary-color-medium);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--primary-color-light);
                    border-left: 6px solid var(--primary-color);
                }
            }
        }

        &__suomenlinna {
            &.hero {
                background-color: var(--color-suomenlinna-medium-light);

                .hds-koros {
                    path {
                        fill: var(--color-suomenlinna-medium-light);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--color-suomenlinna-light);
                    border-left: 6px solid var(--color-suomenlinna-dark);
                }
            }
        }

        &__engel {
            &.hero {
                background-color: var(--color-engel-medium-light);

                .hds-koros {
                    path {
                        fill: var(--color-engel-medium-light);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--color-engel-light);
                    border-left: 6px solid var(--color-engel-dark);
                }
            }
        }

        &__copper {
            &.hero {
                background-color: var(--color-copper-medium-light);

                .hds-koros {
                    path {
                        fill: var(--color-copper-medium-light);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--color-copper-light);
                    border-left: 6px solid var(--color-copper-dark);
                }
            }
        }

        &__fog {
            &.hero {
                background-color: var(--color-fog-medium-light);

                .hds-koros {
                    path {
                        fill: var(--color-fog-medium-light);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--color-fog-light);
                    border-left: 6px solid var(--color-fog-dark);
                }
            }
        }

        &__bus {
            &.hero {
                background-color: var(--color-bus-medium-light);

                .hds-koros {
                    path {
                        fill: var(--color-bus-medium-light);
                    }
                }
            }
            
            &.quick-links-container {
                .quick-links-box {
                    background-color: var(--color-bus-light);
                    border-left: 6px solid var(--color-bus-dark);
                }
            }
        }
    }
}





