.sidemenu-page-title {
	font-size: var(--opehuone--font-size--3-x-large);
	margin-top: 0;
	margin-bottom: var(--opehuone--spacing--small);
}

.sidemenu-page-featured-image {
	aspect-ratio: 899 / 558;
	object-fit: cover;
	margin-bottom: var(--opehuone--spacing--small);
}
