.single-post {
  &__title {
    margin-top: 0;
    margin-bottom: var(--opehuone--spacing--x-small);
    font-weight: 400;
    font-size: var(--opehuone--font-size--x-large);

    + .wp-block-image {
      > img {
        aspect-ratio: 10 / 3;
        object-fit: cover;
      }
    }
  }

  &__excerpt {
    font-size: var(--opehuone--font-size--medium);
    margin-bottom: var(--opehuone--spacing--normal);
  }

  &__date-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--opehuone--spacing--small);
    font-size: var(--opehuone--font-size--normal);
    line-height: calc(24/16);
    margin-bottom: var(--opehuone--spacing--x-small);
  }

  &__date-row-cornerlabel {
    display: block;
    color: var(--color-black-90);
    font-weight: 500;
    line-height: calc(24/14);
    font-size: var(--opehuone--font-size--small);
    background-color: #EFEFF0;
    padding: rem(6px 15px);
    border-radius: 16px;
  }

  &__featured-image {
    aspect-ratio: 1000 / 435;
    object-fit: cover;
    margin-bottom: var(--opehuone--spacing--small);
  }

  &__sidebar-training, &__sidebar-post {
    display: flex;
    flex-direction: column;
    gap: var(--opehuone--spacing--normal)
  }

  &__sidebar-link {
    @include create-button(true);

    @include hover-focus {
      svg {
        path {
          fill: #000;
        }
      }
    }
  }
}
