@mixin create-button(
	$is_full_width: false,
	$font-color: #fff,
	$bg-color: #000,
	$gap: 10px,
	$height: 56px
) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: $gap;
	font-weight: 500;
	color: $font-color;
	background-color: $bg-color;
	text-align: center;
	text-decoration: none;
	white-space: normal;
	vertical-align: middle;
	user-select: none;
	border: 2px solid $bg-color;
	padding: rem(10px 32px);
	font-size: var(--opehuone--font-size--normal);
	border-radius: 0;
	line-height: 1.5;
	min-height: $height;

	@if $is_full_width {
		width: 100%;
		display: flex; // Ensure full-width buttons behave correctly in flex containers
	}

	@include hover-focus() {
		color: $bg-color;
		background-color: transparent;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}

	&.is-disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
