.login h1.wp-login-logo a {
	background: url(../images/logo.svg) center center no-repeat;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	background-size: contain;
	width: 300px;
	height: 60px;
}
