// Variables

//Main menu breakpoint
$main-menu-breakpoint: "lg";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
) !default;

// YIQ color
$yiq-text-dark: #000;
$yiq-text-light: #fff;
// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 150 !default;

$all-post-tag-theme-colors: (
	fog: var(--color-fog-medium-light),
	bus: var(--color-bus-medium-light),
	suomenlinna: var(--color-suomenlinna-medium-light),
	engel: var(--color-engel-medium-light),
	copper: var(--color-copper-medium-light),
	coat-of-arms: var(--color-coat-of-arms-medium-light),

	default: var(--color-default-medium-light),
	gold: var(--color-gold-medium-light),
	silver: var(--color-silver-medium-light),
	metro: var(--color-metro-medium-light),
	summer: var(--color-summer-medium-light),
	tram: var(--color-tram-medium-light),
);
