.break-corner-box {
  &__button {
    @include create-button(true, '#00000', '#FFFFF');
    margin-bottom: 3rem;
    background-color: #fff;
  }
  &__svg {
    margin-right: 1rem;
  }

  &__wikipedia {
    background-color: #fff;
    padding: 1.75rem 1rem;
    border: 2px solid #000;

    &-header {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1.5rem;

      svg {
        display: block;
        flex-shrink: 0;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
    &-list {
      margin: 0;

      li {
        list-style: none;
      }
    }

    &-extract, a {
      font-size: 14px;
      line-height: 1.5rem;
    }

  }
}