.opehuone-content-container {
  max-width: var(--opehuone--container--width);
  width: 100%;
  padding-left: var(--opehuone--container--padding);
  padding-right: var(--opehuone--container--padding);
  margin-left: auto;
  margin-right: auto;
}
