.date-box-row {
	display: grid;
	grid-template-columns: auto 90px;
}

.date-box-row-weather {
	font-size: var(--opehuone--font-size--medium);
	font-weight: 700;
	text-align: center;
}

.date-box-week {
	display: block;
	font-size: var(--opehuone--font-size--medium);
}

.date-box-month {
	display: block;
	font-size: var(--opehuone--font-size--medium);
	font-weight: 700;
}

.date-box-info {
    padding-left: 1.5rem;
	display: block;
	font-weight: 500;
	font-size: var(--opehuone--font-size--small);

  span {
    display: block;
  }

  &__name-day-sv {
    font-style: italic;
  }

  &__flag-days {
    display: flex;
    gap: 0.5rem;
    padding-left: 0;
    margin-top: var(--opehuone--font-size--medium);

    svg {
      margin-top: 3px;
    }
  }
}
