.date-box-row {
	display: grid;
	grid-template-columns: auto 100px;
	gap: rem(12px);
}

.date-box-row-weather {
	font-size: var(--opehuone--font-size--medium);
	font-weight: 700;
	text-align: center;
}

.date-box-week {
	display: block;
	font-size: var(--opehuone--font-size--medium);
}

.date-box-month {
	display: block;
	font-size: var(--opehuone--font-size--medium);
	font-weight: 700;
}

.date-box-info {
	margin-top: var(--opehuone--spacing--small);
	display: block;
	font-weight: 500;
	font-size: var(--opehuone--font-size--small);
}
