.opehuone-grid {
	display: grid;
	grid-template-columns: auto;
	gap: var(--opehuone--spacing--normal);
	width: 100%;

	&.opehuone-grid--reversed {
		@include media-breakpoint-up(lg) {
			grid-template-columns: 360px 1fr;
		}
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 360px;
	}
}
