#header-search {
	border-top: 1px solid var(--color-black-20);
	#header-search-input {
		width: 100%;
	}

	.search-field {
		position: relative;

		input {
			padding-right: 2rem;
		}

		&__clear-search {
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
			background: none;
			border: none;
			cursor: pointer;
			color: #666;

			&:hover {
				color: #000;
			}

			svg {
				vertical-align: middle;
			}
		}
	}

	.search-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&__title {
			margin-top: 0;
		}

		&__close-button {
			background: none;
			border: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;

			span {
				font-size: 1.25rem;
				font-weight: 500;
			}

			svg {
				width: 32px;
				height: 32px;
			}
		}
	}
}

@media (min-width: 1024px) {
	#header-search {
		.search-field {
			width: 50%;
		}
	}
}

.header-search-outer-findkit-container {
	background-color: #efeff0;
}

.header-search-box-container {
	margin-top: 2rem;
	margin-bottom: 4rem;

	.search-title {
		margin-bottom: 2rem;
	}

	label {
		display: block;
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}
}

.js-toggle {
	// Hide close toggle by default
	.js-toggle__close {
		display: none !important;
	}

	// Window is opened, hide open toggle and show hide toggle
	&[aria-expanded="true"] {
		.js-toggle__open {
			display: none !important;
			svg,
			.text,
			.screen-reader-text {
				display: none !important;
			}
		}

		.js-toggle__close {
			display: inline !important;
			svg,
			.text,
			.screen-reader-text {
				display: block !important;
			}
		}
	}

	// Window is closed, show open toggle and hide hide toggle
	&[aria-expanded="false"] {
		.js-toggle__close {
			display: none !important;
			svg,
			.text,
			.screen-reader-text {
				display: none !important;
			}
		}

		.js-toggle__open {
			display: inline !important;
			svg,
			.text,
			.screen-reader-text {
				display: block !important;
			}
		}
	}
}
