#masthead {
	.header__content {
		grid-template-areas: ". logo . .  search profile toggle . " "menu menu menu menu menu menu menu menu";
		grid-template-columns:
			var(--opehuone--container--padding)
			auto 1fr auto auto auto auto var(--opehuone--container--padding);
		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;

		.navigation__logo .home-link {
			outline-offset: -3px;
		}

		.navigation__search {
			grid-area: search;
			display: flex;
			align-items: center;

			#header-search-toggle {
				padding-left: var(--spacing-m);
				padding-right: var(--spacing-m);
				height: 100%;

				@media only screen and (max-width: 991px) {
					padding-left: var(--spacing-2-xs);
					padding-right: var(--spacing-2-xs);
				}
			}
		}

		.profile-opener-wrapper,
		.login-wrapper {
			grid-area: profile;

			.profile-opener,
			.login-button {
				padding-left: var(--spacing-m);
				padding-right: var(--spacing-m);
				height: 100%;

				@media only screen and (max-width: 991px) {
					padding-left: var(--spacing-2-xs);
					padding-right: var(--spacing-2-xs);
				}
			}
			.login-button span {
				text-align: center;
			}
		}

		.nav-toggle--menu {
			height: 100%;

			#mobile-panel-toggle {
				padding-left: var(--spacing-m);
				padding-right: var(--spacing-m);
				height: 100%;

				@media only screen and (max-width: 991px) {
					padding-left: var(--spacing-2-xs);
					padding-right: var(--spacing-2-xs);
				}
			}
		}

		.nav-toggle-dropdown--menu {
			#mobile-panel {
				&.active {
					z-index: 99999;
				}
			}
		}
	}
}

#header-search {
	border-top: 1px solid var(--color-black-20);
	#header-search-input {
		width: 100%;
	}

	.search-field {
		position: relative;

		input {
			padding-right: 2rem;
		}

		&__clear-search {
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
			background: none;
			border: none;
			cursor: pointer;
			color: #666;

			&:hover {
				color: #000;
			}

			svg {
				vertical-align: middle;
			}
		}
	}

	.search-header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&__title {
			margin-top: 0;
		}

		&__close-button {
			background: none;
			border: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			gap: 0.5rem;

			span {
				font-size: 1.25rem;
				font-weight: 500;
			}

			svg {
				width: 32px;
				height: 32px;
			}
		}
	}
}

@media (min-width: 1024px) {
	#header-search {
		.search-field {
			width: 50%;
		}
	}
}

.header-search-outer-findkit-container {
	background-color: #efeff0;
}

.header-search-box-container {
	margin-top: 2rem;
	margin-bottom: 1.5rem;

	.search-title {
		margin-bottom: 2rem;
	}

	label {
		display: block;
		font-size: 1rem;
		margin-bottom: 0.25rem;
	}
	.fdk-tabs {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 15px;
		margin-top: 1.5rem;

		.fdk-tabs-button {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			font-weight: 500;
			color: #000;
			background-color: #fff;
			text-align: center;
			text-decoration: none;
			white-space: normal;
			vertical-align: middle;
			user-select: none;
			border: 2px solid #000;
			padding: 10px 32px;
			font-size: 1rem;
			border-radius: 0;
			line-height: 1.5;
			min-height: 56px;
			cursor: pointer;

			&:hover {
				background-color: #000;
				color: #fff;
			}

			&.active {
				background-color: #000;
				color: #fff;

				&:hover {
					background-color: #fff;
					color: #000;
				}
			}
		}
	}
}

.js-toggle {
	// Hide close toggle by default
	&__open,
	&__close {
		font-size: 0.75rem;
	}

	.js-toggle__close {
		display: none;
	}

	// Window is opened, hide open toggle and show hide toggle
	&[aria-expanded="true"] {
		.js-toggle__open {
			display: none !important;
			svg,
			.text,
			.screen-reader-text {
				display: none !important;
			}
		}

		.js-toggle__close {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			svg,
			.text,
			.screen-reader-text {
				display: block !important;
			}
		}
	}

	// Window is closed, show open toggle and hide hide toggle
	&[aria-expanded="false"] {
		.js-toggle__close {
			display: none !important;
			svg,
			.text,
			.screen-reader-text {
				display: none !important;
			}
		}

		.js-toggle__open {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			svg,
			.text,
			.screen-reader-text {
				display: block !important;
			}
		}
	}
}

@include media-breakpoint-up($main-menu-breakpoint) {
	.js-toggle {
		&__open,
		&__close {
			font-size: 1.125rem;
		}
	}
}
