.icon-detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--opehuone--spacing--x-small);

  &.icon-detail--align-center {
    align-items: center;
  }

  > svg {
    width: rem(32px);
    height: auto;
  }

  &__text-content {

  }

  &__title {
    display: block;
    font-size: var(--opehuone--font-size--medium);
    line-height: calc(28/18);
    font-weight: 700;
    margin-bottom: rem(10px);

    &.icon-detail__title--no-margin {
      margin-bottom: 0;
    }
  }

  &__subtitle {
    display: block;
    font-size: var(--opehuone--font-size--small);
    line-height: calc(24/14);
    font-weight: 500;
    margin-bottom: 0;
  }
}
