.icon-detail {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--opehuone--spacing--x-small);
	height: 100%;

	> svg {
		width: rem(32px);
		height: auto;
		flex-shrink: 0;
	}

	&__title {
		display: block;
		font-size: var(--opehuone--font-size--medium);
		line-height: calc(28 / 18);
		font-weight: 700;
		margin-bottom: rem(10px);

		&.icon-detail__title--no-margin {
			margin-bottom: 0;
		}
	}

	&__subtitle {
		display: block;
		font-size: var(--opehuone--font-size--small);
		line-height: calc(24 / 14);
		font-weight: 500;
		margin-bottom: 0;
	}
}

// Change the external link icon
svg.icon--link-external.hds-icon--link-external {
	width: 10px;
	height: 10px;
	margin-left: 6px;
	mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 13'><path fill-rule='evenodd' clip-rule='evenodd' d='M12.5019 0V9H10.5019L10.5015 3.446L1.93374 12.015L0.519531 10.6008L9.11953 2H3.50185V0H12.5019Z' fill='white'/></svg>");
}
