.side-links-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: rem(10px);
	grid-template-columns: auto;

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		gap: rem(10px);
	}

	&__link {
		color: #000;
		font-size: var(--opehuone--font-size--normal);
		font-weight: 700;
		text-decoration: none;

		@include hover-focus {
			color: #000;
			text-decoration: underline;
		}
	}

	&__remove-btn {
		display: none;
		cursor: pointer;
		background: none;
		border: none;
		padding: 0;

		> svg {
			width: rem(20px);
			height: auto;
		}

		.side-links-list-box--modification-ongoing & {
			display: inline-block;
		}
	}

	&__edit-link {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		gap: rem(10px);
		background: none;
		border: none;
		font-size: var(--opehuone--font-size--medium);
		font-weight: 700;
		text-decoration: none;
		cursor: pointer;

		@include hover-focus {
			text-decoration: none;
		}
	}

	&__own-links-functions {
		margin-top: var(--opehuone--spacing--normal);
	}

	&__form-wrapper {
		display: none;

		.side-links-list-box--modification-ongoing & {
			display: block;
			margin-top: var(--opehuone--spacing--normal);
		}
	}
}

// Own links form styles
.own-links {
	&__add-new-form__legend {
		font-size: rem(16px);
		font-weight: 600;
	}

	&__add-new-form__form-group {
		margin-bottom: rem(16px);
	}

	&__add-new-form-notifications {
		margin-top: rem(20px);
		padding: rem(10px);
		font-size: rem(15px);
		display: none;
		color: #000;
		border: 1px solid #000;
	}

	&__submit-btn {
		display: inline-block;
		padding: rem(5px 15px);
		color: #000;
		font-weight: 500;
		font-size: rem(18px);
		line-height: rem(24px);
		border: 2px solid #000;
		background-color: transparent;
		width: 100%;

		@include hover-focus {
			text-decoration: none;
			color: #fff;
			background-color: #000;
		}

		&.is-disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}
