.post-tags {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--opehuone--spacing--2-x-small);
  font-size: rem(10px);

  &.post-tags--is-lg {
    font-size: var(--opehuone--font-size--small);
    font-weight: 500;
  }

  > li {
    @each $name, $value in $all-post-tag-theme-colors {
      &.has-post-tag-color-#{$name} {
        background-color: $value;
      }
    }

    display: block;
    padding: 6px 12px;
    border-radius: 32px;
  }
}
