.sidebar-boxes {
	display: flex;
	flex-direction: column;
	gap: var(--opehuone--spacing--normal);
}

.sidebar-box {
	padding: rem(27px 20px);

	&.sidebar-box--suomenlinna-light {
		background-color: var(--color-suomenlinna-light);
	}

	&.sidebar-box--coat-of-arms-light {
		background-color: var(--color-coat-of-arms-light);
	}

	&.sidebar-box--engel-light {
		background-color: var(--color-engel-light);
	}

	&__sub-title {
		margin-top: 0;
		margin-bottom: var(--opehuone--spacing--small);
		font-size: var(--opehuone--font-size--large);
		font-weight: 500;

		&.sidebar-box__sub-title--margin-top {
			margin-top: var(--opehuone--spacing--small);
		}
	}
}
