.sidebar-boxes {
	display: flex;
	flex-direction: column;
	gap: var(--opehuone--spacing--normal);
}

.sidebar-box {
	padding: rem(27px 20px);
	background-position: top 2rem right;
	background-repeat: no-repeat;

	&.sidebar-box--suomenlinna-light {
		background-color: var(--color-suomenlinna-light);
	}

	&.sidebar-box--coat-of-arms-light {
		background-color: var(--color-coat-of-arms-light);
	}

	&.sidebar-box--engel-light {
		background-color: var(--color-engel-light);
	}

	&.sidebar-box--bus-light {
		background-color: var(--color-bus-light);
	}

	&.sidebar-box--fog-light {
		background-color: var(--color-fog-light);
	}

	&__sub-title {
		margin-top: 0;
		margin-bottom: var(--opehuone--spacing--small);
		font-size: var(--opehuone--font-size--large);
		font-weight: 500;

		&.sidebar-box__sub-title--margin-top {
			margin-top: var(--opehuone--spacing--small);
		}
	}

	&__description {
		font-size: var(--opehuone--font-size--small);
		font-weight: 500;
		margin-top: var(--opehuone--spacing--small);
	}

	&__sub-content {
		font-size: var(--opehuone--font-size--normal);
		p, li {
			font-size: var(--opehuone--font-size--normal);
		}
	}

	&__sub-links {
		ul {
			list-style: none;
			margin-left: 3px;
			li {
				margin-bottom: .5rem;
			}
		}
		a {
			font-weight: 600;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		svg {
			margin-left: 1rem;
		}
	}
	&__sub-button {
		svg.icon {
			width: 11px !important;
		}
	}

}
